:root{
  --toptail: rgba(0, 129, 167,0.7);
  --plan: rgba(0, 175, 185, 0.9);
  --game: #FDFCDC;
  --game: #FDFCDC;
  --stories: #FED9B7;
  --whiteText: rgb(223, 223, 223);
  --darkText: #3a3636;
  background: rgb(32, 32, 32);
  --darkShade: rgba(0, 129, 167, 0.5);
  --blackShade: rgba(0, 0, 0, 0.2);
  --superBlackShade: rgba(0, 0, 0, 0.7);
  --lightShade: rgba(0, 129, 167, 0.7);
  --lightestShade: rgba(0, 129, 167, 0.1);
}
.App {
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
  color: var(--whiteText);
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 0.5;
  background: linear-gradient(to bottom, rgb(55, 55, 55), rgb(32, 32, 32));
  overflow-y: clip;
  
}



#intro-container{
  line-height: 1.6;
  display: grid;
  width:100%;
  height:100vh;
  padding: 0;
  margin:0;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 1fr;

}

#intro-backdrop {
  background-image: url("./planning_poker.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  height: 98%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 3

}

#intro {
  color: var(--plan);
  background: var(--superBlackShade);
  z-index: 2;
  text-shadow: 2px 2px #000000; 
 text-align: left;
  line-height: 1.6;
  
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  grid-area: 1 / 1 / 2 / 2;
  
}

#blurb{
  color: var(--whiteText);
  background: var(--superBlackShade);
  font-size: calc(16px + 2vmin);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  padding-left: 25px;
}

#intro-buttons{
  display:flex;
  justify-content: center;
  width: 100%;
} 


#info{
  font-size: calc(10px + 2vmin);
  line-height: 1.6;
  min-height: 500px;
  margin: 0 15%;
  width: 70%;
  text-align: left;
}
#info h3{
  color: var(--plan);
}
#blurb button{
  min-width: 170px;
  font-size: calc(8px + 2vmin);
  padding: 0 20px;
}




button, input {
  font-family: 'Archivo Narrow', sans-serif;

}

.App-header {
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--blackShade);
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(0px + 2vmin);
  text-align: right;
}

h1, h2, h3,h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
}

h4{
  line-height: 1;
}
a{
  color: var(--whiteText);
  text-decoration:none;
}
.grid-container {
  height:95vh; 
  display: grid;
  font-size: calc(4px + 2vmin);
  grid-template-columns: 8fr 5fr;
  grid-template-rows:  6fr 30fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "Plan Plan"
    "Game  Stories"
    "Footer Footer";
}
.Plan { grid-area: Plan; 
  background: var(--plan);
  width: 99%;
  min-height:20vh;
  display: flex; 
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-top: 5px;
  margin-left: 5px
}


button, .Plan input{
  background: var(--lightShade);
  color: var(--offWhite);
  font-size: calc(0px + 2vmin);
  padding: 3px;
  width: calc(100px + 2vmin);
  border: 2px solid var(--toptail);
  margin-right: 10px;
  transition: 0.3s all;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

button:hover {
  background: var(--plan);
  color: var(--darkText);
  transform: scale(1.1);
}
#plan-edit{
  font-family: 'Julius Sans One', sans-serif;
  margin: 5px;
  font-size: calc(14px + 2vmin);
  font-weight: bold;
  width: calc(400px + 2vmin);
  background: none;
  border: 2px solid var(--whiteText);
  color: var(--offWhite);
  text-align: center;
  padding: 5px;
}

.Stories { 
  border-radius: 20px;
  grid-area: Stories; 
  background:var(--lightShade); 
  max-height:90vh;
  color: var(--whiteText);
  overflow-y: scroll;
  font-weight: normal;
  margin-right: 7px;
  margin-left: 7px;
  line-height: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
.story-input{
  transition: all 1s;
  flex-direction: column;
  width: 90%;
  background:var(--lightShade);
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  padding: 10px;
  border-radius: 20px;
}

.story-input-container{
  width: 90%
}
.story-input input{
  background: var(--plan);
  border: none;
  border-radius: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1em;
color: var(--whiteText);
  margin-bottom: 10px;
  width: 100%;
}

#story-input-button {
  margin-bottom: 10px;
}

.story{
  text-align: left;
  border-radius: 20px;
  background: var(--lightestShade);
  width:90%;
  margin: 5px auto;
  padding: 8px;
  border: 1px solid var(--lightShade);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: var(--whiteText)
}

#story-submit{
  width: 30%;
  transition: all 0.3s;
  color: var(--whiteText);
  background: var(--blackShade);
}
#story-submit:hover{
 background: var(--plan);
 color: var(--whiteText)
}

.selected-story{
  background: var(--plan);
}

.story-buttons{
  display: flex;
  justify-content: space-around;
}

.Game { grid-area: Game; color: var(--whiteText) ;font-weight: normal; display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
  
}
.Game h3{
  line-height: 1
}

.Footer {
  grid-area: Footer; 
  background: var(--blackShade); 
  font-size: calc(2px + 2vmin); 
}

.Table {
  border-radius: 20px;
  width: 100%;
  background: var(--lightShade);
  min-height: 70%;
  overflow-y: scroll;  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);                        
}



.player{
  background: var(--lightestShade);
  border: 1px solid var(--lightShade);
  border-radius: 20px;
  width: 60%;
  height: 30px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.player span {
  width: 40%;
  border-radius: 10px;
}


.Hand {
  border-radius: 20px;
  width: 100%;
  background: var(--lightShade);
  height: 30%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

nav{
  padding: 0 2%;
}
nav *{
  margin: 0 5px;
  text-decoration: none;
  background: none;
  text-align: left;
  display:flex;
  align-items: center;
  justify-content: center;
}

nav input{
  font-family: 'Julius Sans One', sans-serif;
  color: var(--darkText);
  background: var(--whiteText);
  font-size: 0.9em;
  border-radius: 10px;
  border: none;
  padding: 3px;
  width: 25%;
}

nav div {
  font-size:0.9em;
  width:30%
}

#new-plan{
  height:20px;
  padding: 5px;
  transition: 0.3s all
  
}

#new-plan:hover{
  background: var(--darkShade);
  color: var(--stories);
}
::placeholder{
  color: var(--whiteText);
}

.login{
  width: 200px;
}
.form-input {
  margin: 50px auto;
  padding: 20px;
  border:1px var(--stories) solid;
  border-radius: 20px;
  min-height: 10vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  color: var(--whiteText);
  text-align: center;
  background: var(--toptail)
}

.form-input * {
  padding: 10px;
  line-height: 1;
  border-radius: 20px;
  
}

.form-input input {
  font-size: calc(6px + 2vmin);
  background: var(--darkShade);
  border: 2px solid var(--stories);
  color: var(--whiteText);
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}

.form-input .small {
  font-size: calc(2px + 2vmin);
}

#plan-submit{
  width: 150px;
  transition: all 0.3s;
  background: var(--plan);
}
#plan-submit:hover{
 background: var(--stories);
 color: var(--darkText);
 transform: scale(1.1);
}





/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightShade)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkShade)
}

.card-container {
  justify-content: center;
  display:flex;
  height: 50%;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 50%;

}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2em;
  border-radius: 10%;
  display:flex;
  height: 75%;
  max-width: 50px;
  border: 1px solid var(--darkShade);
  background-color: rgba(211, 211, 211, 0.4);
  flex: 1 0 6%;
  background: var(--lightShade);
  transition: transform .25s;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  user-select: none;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.5);
  background: var(--plan);
  color: var(--whiteText)
}

.card:active {
  transform: scale(2.5);
}

/* Add some padding inside the card container */
