:root{

  /* --toptail: #264653;
  --plan: #2A9D8F;
  --game: #e9c46a;
  --stories: #f4a261; */

  --toptail: rgb(0, 129, 167);
  --plan: #00afb9;
  --game: #FDFCDC;
  --game: #FDFCDC;
  --stories: #FED9B7;
  background: #FDFCDC;
  --whiteText: #e8fafa;
  --darkText: #3a3636;
  --lightShade: rgba(0,0,0,0.2);
  --storyShade: rgba(0, 129, 167, 0.3);
  --lightShade: rgba(0, 129, 167, 0.3);
 
  
  
}
.App {
  text-align: center;
  box-sizing: border-box;
  color: var(--whiteText);
  font-family: 'Archivo Narrow', sans-serif;
  
}

button, input {
  font-family: 'Archivo Narrow', sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--toptail);
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(2px + 2vmin);

  text-align: right;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
}
a{
 
  color: var(--whiteText)
}
.grid-container {
  height:95vh; 
  display: grid;
  font-size: calc(2px + 2vmin);
  grid-template-columns: 8fr 5fr;
  grid-template-rows:  5fr 30fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Plan Plan"
    "Game  Stories"
    "Footer Footer";
}
.Plan { grid-area: Plan; background: var(--plan); min-height:20vh; display: flex; line-height: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Stories { grid-area: Stories; 
  background:var(--storyShade); 
  max-height:90vh;
   color: var(--darkText);
    overflow-y: scroll;
     font-weight: normal;
     margin: 15px;
    
  }

.Game { grid-area: Game; background: var(--game); color: var(--darkText) ;font-weight: normal; display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;}
.Footer { grid-area: Footer; background: var(--toptail); font-size: calc(2px + 2vmin); }



.Plan button{
  background: none;
  color: var(--offWhite);
  font-size: calc(1px + 2vmin);
  padding: 5px;
  width: calc(100px + 2vmin);
  border: 2px solid var(--whiteText);
  margin-right: 10px;

}
#plan-edit{
  margin: 10px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  background: none;
  border: 2px solid var(--whiteText);
  color: var(--offWhite);
  text-align: center;
}

.Table {
  width: 95%;
  background: var(--lightShade);
  min-height: 60%;
  margin: 15px;
}
.Hand {
  width: 95%;
  background: var(--lightShade);
  min-height: 30%;
  margin: 15px;
}

nav *{
  margin: 0 30px;
  text-decoration: none;
}





.form-input {
  margin: 50px auto;
  padding: 20px;
  border:5px var(--stories) solid;
  min-height: 10vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: var(--whiteText);
  text-align: center;
  background: var(--toptail)
}

.form-input * {
  padding: 25px;
  
}

.form-input input {
  font-size: calc(8px + 2vmin);
  background: var(--plan);
  border: 5px solid var(--stories);
  color: var(--whiteText);

}

article {
  color: var(--darkText);
  margin: 50px auto;
  width: 80%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}


